
<div id="FeedsChanges" class="clearfix module">

    <div class="container_12 clearfix">
        {{status_dashboard|safe}}
        {{action_dashboard|safe}}
    </div> <!-- container -->

</div> <!-- FeedsChanges -->

{% comment %}
<div id="profile-dialog" style="display:none;">
	<img width="16" height="16" src="{{MEDIA_2}}images/ajax-loader.gif" alt="Loading" />
</div>
{% endcomment %}

<div id="settings-dialog" class="settings-dialog" title="Your settings" style="display:none;">
	<img width="16" height="16" src="{{MEDIA_2}}images/ajax-loader.gif" alt="Loading" />
</div>

<div id="survey-dialog" class="settings-dialog" title="Final Step - Optional" style="display:none;">
	<img width="16" height="16" src="{{MEDIA_2}}images/ajax-loader.gif" alt="Loading" />
</div>

<div id="invite-dialog" style="display:none" title="Earn extra points by inviting others">
	<img width="16" height="16" src="{{MEDIA_2}}images/ajax-loader.gif" alt="Loading" />
</div>

<a id="fdbk_tab" class="fdbk_tab_right" style="background-color: rgb(62, 163, 243);" href="/feedback/">
    FEEDBACK
</a>

